@tailwind base;
@tailwind components;
@tailwind utilities;

.message{
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--light-bg);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap: 1.5rem;
}

.message span{
    font-size: 2rem;
    color: var(--black);
}

.message i{
    cursor: pointer;
    color: var(--red);
    font-size: 2.5rem;
}

.message i:hover{
    transform: rotate(90deg);
}